.container {
  height: 100vh;
  width: 100vw;
}

.player_body {
  display: flex;
  overflow: scroll;
  top: 0;
  height: 80vh;
}

.player_footer {
  position: absolute;
  overflow: scroll;

  height: 20vh;
  bottom: 0;
  width: 100vw;
}
